@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

:root {
  --primary-font-family: Roboto;
  --secondary-font-family: Poppins;
  --third-font-family: Playwrite GB S;
}
/* header styling sections */
body {
  font-family: var(--primary-font-family);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  padding-block: 20px;
  background-image: linear-gradient(90deg, #23074d 0%, #cc5333 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo-wrapper {
  font-size: 22px;
  font-weight: 600;
  color: #ede3f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-wrapper img {
  block-size: 2.5rem;
}

.logo {
  align-self: flex-end;
}
.nav-menu-wrapper {
  /* inline-size: 60%; */
  display: flex;
  gap: 70px;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #ede3f4;
}

.nav-btn button {
  background-color: transparent;
  color: #ede3f4;
  padding-block: 10px;
  padding-inline: 20px;
  border: 2px solid #ede3f4;
  border-radius: 40px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.nav-btn button:hover {
  background-image: linear-gradient(90deg, #780206 0%, #061161 100%);
}

/* hero section styling section */

.hero-wrapper {
  background-image: linear-gradient(180deg, #e13180, #3d09a2);
  color: white;
}

.hero-body-wrapper {
  margin-block-start: 80px;
  block-size: 100vh;
  background-image: url("./assets/images/11557.jpg");
  background-size: cover !important;
}
.hero-body {
  display: flex;
  flex-direction: column;
  padding-block-start: 120px;
  padding-inline: 50px;
  padding-block-end: 50px;
  background-image: linear-gradient(90deg, #23074d 0%, #cc5333 100%);
}

.hero-body button {
  inline-size: fit-content;
  padding-block: 12px;
  padding-inline: 20px;
  margin-block-start: 35px;
  border: 2px solid #ede3f4;
  border-radius: 40px;
  background-color: transparent;
  color: white;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.hero-body button:hover {
  background-image: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
}
.hero-body .p-1 {
  font-family: var(--secondary-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.1rem;
  color: #ede3f4;
}
.hero-body .p-1 span {
  color: #f4d684;
}
.hero-body .p-2 {
  font-family: var(--third-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.1rem;
  color: #ead5bf;
}

.hero-head {
  margin-inline: auto;
  margin-block-start: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-head-venue-date {
  inline-size: fit-content;
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.venue-date-1 {
  background-color: #571f9f;
  border: 0.1px solid #ede3f4;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.venue-date-1:hover {
  background-image: linear-gradient(90deg, #ad5389 0%, #3c1053 100%);
}
.venue-date-2 {
  background-color: #441659;
  border: 0.1px solid #ede3f4;
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.venue-date-2:hover {
  background-image: linear-gradient(90deg, #ad5389 0%, #3c1053 100%);
}

.venue-date-3 {
  background-color: #571f9f;
  border: 0.1px solid #ede3f4;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.venue-date-3:hover {
  background-image: linear-gradient(90deg, #ad5389 0%, #3c1053 100%);
}

.venue-date-1 img,
.venue-date-2 img,
.venue-date-3 img {
  block-size: 1.6rem;
}

.hero-foot {
  /* outline: 1px solid black; */
  padding-block: 100px;
}

.timer-wrapper {
  inline-size: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 50px;
}
.time-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.time-container .content {
  block-size: 100px;
  inline-size: 100px;
  border: 1px solid #ede3f4;
  border-radius: 20px;
  display: grid;
  place-items: center;
  font-size: 45px;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.time-container .label {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #f4d684;
  letter-spacing: 0.1rem;
}

/* FAQs styling section */
.faqs-wrapper {
  background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
}

.faqs-header {
  margin-inline: auto;
  padding-inline: 30px;
  padding-block-start: 80px;
  padding-block-end: 30px;
  inline-size: fit-content;
}
.faqs-header p {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ede3f4;
}
.faqs-header .sub-title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #f4d684;
}
.faqs-main {
  inline-size: 80%;
  margin-inline: auto;
}
/* footer styling section */

/* responsiveness */
@media (min-width: 320px) and (max-width: 767px) {
  .logo-wrapper {
    font-size: 18px;
  }
  .header-wrapper {
    padding-inline: 20px;
    padding-block: 15px;
  }
  .logo-wrapper img {
    block-size: 2rem;
  }
  .nav-btn button {
    padding-block: 8px;
    padding-inline: 15px;
    font-size: 12px;
  }
  .hero-body-wrapper {
    margin-block-start: 68px;
  }
  .hero-body .p-1 {
    font-size: 38px;
    line-height: 54px;
    margin-block-end: 10px;
  }

  .hero-body .p-2 {
    font-size: 24px;
  }

  .hero-body button {
    font-size: 12px;
  }
  .faqs-main {
    inline-size: 95%;
  }
  .accordion-sections {
    padding-inline: 18px;
    padding-block: 18px;
    margin-block: 20px;
  }
  .accordion-btn-wrapper,
  .accordion-btn-wrapper-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-head-venue-date {
    flex-direction: column;
  }
  .venue-date-1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .venue-date-3 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .timer-wrapper {
    gap: 15px;
  }
  .hero-head {
    margin-block-start: 30px;
    width: 92%;
  }
  .time-container .content {
    block-size: 75px;
    inline-size: 75px;
  }
  .hero-body {
    padding-block-start: 60px;
    padding-inline: 28px;
  }
  .faqs-wrapper {
    padding-bottom: 50px;
  }
  .hero-foot {
    padding-block-start: 210px;
  }
  .hero-head-venue-date p {
    font-size: 1.1rem;
  }
  .time-container p {
    font-size: 28px;
  }
  .time-container .content {
    font-size: 25px;
  }
}

/* Invitation form styling section */

/* Form Component Styles */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #2c2c38; */
  background: linear-gradient(
    89.7deg,
    rgb(0, 32, 95) 2.8%,
    rgb(132, 53, 142) 97.8%
  );
  border-radius: 8px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f5;
}

.form-submit-btn {
  width: 100%;
  background-color: #ff5e57;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}

.form-submit-btn:hover {
  background-color: #ff3d47;
}

/* Modal Component Styles */
.modal-container {
  background-color: #1e1e2c;
  color: #f3f4f6;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: auto;
  border: 2px solid #000;
  box-shadow: 24px;
  position: relative;
}

.modal-header {
  font-size: 22px;
  color: #ffeb3b;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: center;
}

.modal-invitation-details {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.countdown-label {
  color: #ffeb3b;
  font-size: 14px;
}

.countdown-timer {
  font-size: 18px;
  color: #ffeb3b;
}

.modal-close-btn {
  background-color: #ff5e57;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.modal-close-btn:hover {
  background-color: #ff3d47;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  background-image: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  ) !important;
}
